<%- include('../../dashboard/partials/header') %> 
<%- include('../../dashboard/partials/side-bar') %>
<section id="main-content">
<section class="wrapper">
<div class="row mt">
    <div class="col-lg-12">
        <h3><i class="fa fa-angle-right"></i> ADD CATEGORY</h3>
        <div class="form-panel">
            <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">
                    <div class="form-group">
                        <label for="firstname" class="control-label col-lg-2">Title</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="title" name="title" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="control-label col-lg-2">Description</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="description" name="description" type="text" />
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="username" class="control-label col-lg-2">Username</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="username" name="username" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-lg-2">Password</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="password" name="password" type="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="control-label col-lg-2">Confirm Password</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="confirm_password" name="confirm_password" type="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label col-lg-2">Email</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="email" name="email" type="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="agree" class="control-label col-lg-2 col-sm-3">Agree to Our Policy</label>
                        <div class="col-lg-10 col-sm-9">
                            <input type="checkbox" style="width: 20px;" class="checkbox form-control" id="agree" name="agree" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newsletter" class="control-label col-lg-2 col-sm-3">Receive the Newsletter</label>
                        <div class="col-lg-10 col-sm-9">
                            <input type="checkbox" style="width: 20px;" class="checkbox form-control" id="newsletter" name="newsletter" />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme btnAddCategory" type="submit">Save</button>
                            <a href="/categorys/Them"  ><button class="btn btn-theme04" type="button">Cancel</button> </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form-panel -->
    </div>
    <!-- /col-lg-12 -->
</div>
</section>
</section>
<%- include('../../dashboard/partials/footer') -%>
<script>
    $(document).on('click','.btnAddCategory',function(e){
        e.preventDefault()
        let title= $('#title').val();
        let description=$('#description').val();
        console.log({title,description})
        if(!title || !description){
            alert('Mời bạn nhập đầy đủ thông tin');
        }else{
            $.ajax({
                url:'/categorys/add',
                method:'POST',
                data: { title,description},
                success: resp =>{
                    if(!resp.error)
                    {
                        alert('Them thanh cong')
                        window.location.href = '/categorys/list'
                    }else
                    {
                        alert('Them that bai')
                    }
                }
            })
        }
    })
</script>