<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Dashboard" />
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
        <title>Dashio - Bootstrap Admin Template</title>

        <!-- Favicons -->
        <link href="/dashboards/img/favicon.png" rel="icon" />
        <link href="/dashboards/img/apple-touch-icon.png" rel="apple-touch-icon" />

        <!-- Bootstrap core CSS -->
        <link href="/dashboards/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!--external css-->
        <link href="/dashboards/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="/dashboards/css/style.css" rel="stylesheet" />
        <link href="/dashboards/css/style-responsive.css" rel="stylesheet" />
        <link href="/assets/build/toastr.min.css" rel="stylesheet" />

        <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
    </head>

    <body>
        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <div id="login-page">
            <div class="container">
                <form class="form-login" action="index.html">
                    <h2 class="form-login-heading">sign in now</h2>
                    <div class="login-wrap">
                        <input type="text" id="username" class="form-control" placeholder="User ID" autofocus />
                        <br />
                        <input type="password" id="password" class="form-control" placeholder="Password" />
                        <label class="checkbox">
                            <input type="checkbox" value="remember-me" /> Remember me
                            <span class="pull-right">
                                <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>
                            </span>
                        </label>
                        <button class="btn btn-theme btn-block btnLogin"  type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                        <hr />
                        
                    </div>
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Forgot Password ?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Enter your e-mail address below to reset your password.</p>
                                    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" />
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                    <button class="btn btn-theme" type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
                </form>
            </div>
        </div>
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/dashboards/lib/jquery/jquery.min.js"></script>
        <script src="/dashboards/lib/bootstrap/js/bootstrap.min.js"></script>
        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="/dashboards/lib/jquery.backstretch.min.js"></script>
        <script src="/assets/build/toastr.min.js"></script>
        <script>
            $.backstretch("/dashboards/img/Quan1.png", {
                speed: 500,
            });
        </script>
    </body>
</html>
<script>
    $(document).on('click','.btnLogin',function(e){
        e.preventDefault();
        let username= $('#username').val();
        let password= $('#password').val();
        if(!username||!password)
        {
            toastr.error('Mời bạn nhập đầy đủ thông tin', 'Thiếu thông tin');

        }
        else{
            $.ajax({
                url:`/admin/login`,
                method: 'POST',
                data: {username,password},
                success: resp =>{
                    console.log({resp})
                    if ( resp.error == true ){
                        toastr.error("Dang nhap that bai", "Thong Bao");
                    }else{
                        toastr.success("Dang nhap thanh cong", "Thong Bao");
                        setTimeout(function(){
                            window.location.href = "/admin"
                        }, 1000);
                    }
                }
            })
        }
    })
</script>
